body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* USER HOME */
.userhome-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.userhome-nav-selection {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 6px;
}

/* COMPONENT SELECTION SIDEBAR */
.component-selection-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  width: 100%;
  text-align: center;
}

/* PREVEW AREA */
.drop-container {
  width: 375px;
  height: 550px;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 20% 40% 20%;
  grid-row-gap: 2rem;
  padding: 1rem;
}

.drop-area {
  border: 1.5px dotted gray;
}

/* RGL Preview Items */
.item {
  border: 1px solid;
}

.MyDragHandleClassName {
  cursor: move;
  height: 40px;
  line-height: 38px;
  background: #56be96;
}

/* testing purposes remove before commiting */

.container {
  border: 5px solid rgb(111, 41, 97);
  border-radius: 0.5em;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;

  padding: 20px;
  font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0 0 1em 0;
  box-sizing: border-box;
}

.item {
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: rgba(111, 41, 97, 0.3);
  border: 2px solid rgba(111, 41, 97, 0.5);
}

/* BUTTON BAR */

.button-bar-container {
  display: flex;
  padding: 7px;
  border: 1px solid lightcyan;
  border-radius: 4px;
}

.ui-toolbar .ui-button {
  margin-right: 10px;
}

.component-selection-sidebar .preview-button {
  margin: 10px;
}

.guest-homepage {
  background-color: #edf1f1;
}

.templates-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
}
.template-card {
  width: 150px;
  height: 190px;
}

.about {
  background-color: #0c62c1;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}

.profile-grid {
  width: 400px;
  color: #edf1f1;
  font-size: smaller;
}

.about-text {
  width: 400px;
  color: #edf1f1;
}

.mainpage {
  width: 100%;
  border: 1px solid red;
  background: #edf1f1;
}

.app-logo {
  background: #333055 !important;
}
.component-selection-sidebar {
  background: linear-gradient(#333055, #060509) !important;
}

.navbar {
  height: 100%;
}

.navbar nav {
  height: 100%;
}

.navbar .ui-button {
  color: #ffffff;
  background-color: #333055;
  border-color: #333055;
}

.white-buttons {
  background-color: #ffffff !important;
  color: #333055 !important;
  border-color: #333055 !important;
}

.white-buttons:hover {
  color: #56be96 !important;
  border-color: #56be96 !important;
}

.navbar .ui-button-icon-only {
  border-radius: 5px !important;
  max-width: 20px !important;
  min-width: 20px !important;
}

.navbar .ui-button:hover {
  color: #ffffff !important;
  background-color: #56be96 !important;
  border-color: #56be96 !important;
}

.login-button-container,
.loggedin-nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

/* Logo and Left Bar */
.logo {
  width: 100%;
  padding: 8px;
}

.react-grid-layout {
  background: white;
}

.navbar .ui-button:focus {
  box-shadow: none !important;
}

.RGL-container {
  border: 2px solid lightgray;
  border-radius: 6px;
  margin: 0.8rem;
}
