body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* USER HOME */
.userhome-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.userhome-nav-selection {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 6px;
}

/* COMPONENT SELECTION SIDEBAR */
.component-selection-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  width: 100%;
  text-align: center;
}

/* PREVEW AREA */
.drop-container {
  width: 375px;
  height: 550px;
  border: 1px solid black;
  display: grid;
  grid-template-rows: 20% 40% 20%;
  grid-row-gap: 2rem;
  padding: 1rem;
}

.drop-area {
  border: 1.5px dotted gray;
}

/* RGL Preview Items */
.item {
  border: 1px solid;
}

.MyDragHandleClassName {
  cursor: move;
  height: 40px;
  line-height: 38px;
  background: #56be96;
}

/* testing purposes remove before commiting */

.container {
  border: 5px solid rgb(111, 41, 97);
  border-radius: 0.5em;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;

  padding: 20px;
  font: 1em Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0 0 1em 0;
  box-sizing: border-box;
}

.item {
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: rgba(111, 41, 97, 0.3);
  border: 2px solid rgba(111, 41, 97, 0.5);
}

/* BUTTON BAR */

.button-bar-container {
  display: flex;
  padding: 7px;
  border: 1px solid lightcyan;
  border-radius: 4px;
}

.ui-toolbar .ui-button {
  margin-right: 10px;
}

/* Preview Buttons  for DnD */
.component-selection-sidebar .preview-button {
  margin: 20px;
  padding: 25px 32px;
  color: #56be96;
  background-color: #49497e;
  border-color: #49497e;
  text-align: center;
  border-radius: 10px;
  height: 5em;
  width: 8em;
}

.component-selection-sidebar .preview-button:hover {
  color: #56be96 !important;
  background-color: #49497ebd !important;
  border-color: #49497e !important;
}

.component-selection-sidebar .preview-button:focus {
  box-shadow: none !important;
}

/* Home Page */
.guest-homepage {
  background-color: #edf1f1;
}

.center-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

.center-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0c62c1;
  margin-bottom: 10px;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* .templates-grid {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, auto);
  margin-bottom: 50px;
}

.template-card {
  width: 157px;
  height: 183px;
  margin-left: 10px;
  margin-right: 10px;
} */

.about {
  background-color: #0c62c1;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  margin-top: 20;
}

.templates {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.template-grid {
  margin-right: 5px;
  margin-left: 5px;
}

.profile-grid {
  margin-top: 90px;
  color: #edf1f1;
  font-size: smaller;
  margin-right: 40px;
  margin-left: 40px;
}

.names {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.names-top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-bottom: 20px;
}

.about-text {
  -webkit-font-smoothing: antialiased;
  margin-top: 30px;
  width: 400px;
  color: #edf1f1;
  font-weight: 400;
  line-height: 1.6em;
}

.text-link {
  color: #56be96 !important;
  text-decoration: none !important;
}

.text-link:hover {
  color: #56be96 !important;
  text-decoration: underline !important;
}

/* End Home Page */

/* This is the size of the blue field */
.mainpage {
  width: 100%;
  background: #edf1f1;
  height: 722px;
}

.app-logo {
  background: #333055 !important;
}
.component-selection-sidebar {
  background: linear-gradient(#333055, #060509) !important;
  height: 1200px;
}

.navbar {
  height: 100%;
}

.navbar nav {
  height: 100%;
}

.navbar .ui-button {
  color: #ffffff;
  background-color: #333055;
  border-color: #333055;
}

.white-buttons {
  background-color: #ffffff !important;
  color: #333055 !important;
  border-color: #333055 !important;
}

.white-buttons:hover {
  color: #56be96 !important;
  border-color: #56be96 !important;
}

.white-buttons:focus {
  box-shadow: none !important;
}
.navbar .ui-button-icon-only {
  border-radius: 5px !important;
  max-width: 20px !important;
  min-width: 20px !important;
}

.navbar .ui-button:hover {
  color: #ffffff !important;
  background-color: #56be96 !important;
  border-color: #56be96 !important;
}

.login-button-container,
.loggedin-nav {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

/* Logo and Left Bar */
.logo {
  width: 100%;
  padding: 8px;
}

.react-grid-layout {
  background: white;
}

.navbar .ui-button:focus {
  box-shadow: none !important;
}

.RGL-container {
  border: 2px solid lightgray;
  border-radius: 6px;
  margin: 0.8rem;
}

/* Top Menu User Button */
.p-menuitem span {
  color: white !important;
}

.profile-background {
  background: linear-gradient(to bottom, #56be96 0%, #0c62c1 100%);
  width: 100%;
}

.profile-bar-color {
  background-color: #333055;
}

.RGL-container2 {
  /* border: 2px solid lightgray; */
  border-radius: 6px;
  margin: 0.8rem;
  width: 920px;
}

.color {
  color: white;
  margin-left: 47px;
}
